body {
    background-color: orange;
}
main {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.hero {
    grid-row: 1;
    grid-column: 1/3;
}
.hero img {
    width: 100%;
}
.top {
    grid-row: 1;
    grid-column: 1/-1;
    text-align: center;
}