body {
    background-color: #fca6c9;
    text-align: center;
    padding: 0 700px;
}
h1 {
    color: white;
    padding: 0 100px;
}
.mainH1:hover {
    color: black;
}
img {
    width: 200px;
}
ul {
    padding: 0 0;
    text-align: left;
    font-weight: bold;
}